<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%=title%></h1>
    <p><%=contents%></p>

    <h3>꽃</h3>
    <ul>
        <%for(item of flowers){%>
            <li><%=item%></li>
        <%}%>
    </ul>

    <ul>
        <li><a href="/filesend1">파일 한개 업로드 테스트</a></li>
        <li><a href="/filesend2">파일 여러개 업로드 테스트</a></li>
        <li><a href="/filesend3">Ajax로 파일 업로드하기</a></li>
        <li><a href="/filesend4">Ajax로 파일 여러개 업로드하기</a></li>
    </ul>
</body>
</html>






